<%= form_with(model: [@conversation, Message.new], remote: true, id: 'new_message', html: {class: 'chat-message-form'}) do |form| %>
  <div class="chat-form-group">
    <%= form.text_area :body, placeholder: 'Type your message...', class: 'chat-form-control', id: 'message_body' %>
    <%= form.submit 'Send', class: 'chat-form-submit' %>
  </div>
<% end %>