<div id="messages">
  <% @messages.each do |message| %>
    <p><%= message.body %></p>
  <% end %>
</div>

<%= form_for [@conversation, @message], remote: true do |f| %>
  <%= f.text_area :body %>
  <%= f.submit "Send" %>
<% end %>