<h1>My Messages</h1>

<div class="messages">
  <section class="sent-messages">
    <h2>Sent Messages</h2>
    <ul>
      <% @sent_messages.each do |message| %>
        <li>
          To: <%= message.receiver.username %>, Message: <%= message.body %>
          <!-- Add more details as needed -->
        </li>
      <% end %>
    </ul>
  </section>

  <section class="received-messages">
    <h2>Received Messages</h2>
    <ul>
      <% @received_messages.each do |message| %>
        <li>
          From: <%= message.sender.username %>, Message: <%= message.body %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
