<div class="messages-list">
  <% current_user.conversations.each do |conversation| %>
    <div class="message-summary">
      <p>Conversation with <%= conversation.other_party(current_user).username %></p>
      <% last_message = conversation.messages.last %>
      <% if last_message %>
        <p><%= last_message.body.truncate(100) %></p>
      <% else %>
        <p>No messages yet.</p>
      <% end %>
      <%= link_to 'View Conversation', conversation_path(conversation), class: 'view-conversation-link' %>
    </div>
  <% end %>
</div>