<h1>Forgot Your Password?</h1>
<%= form_with url: password_resets_path, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.submit "Reset Password" %>
<% end %>
