<h1>Listings</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Condition</th>
    <th>Description</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @listings.each do |listing| %>
    <tr>
      <td><%=link_to listing.title, listing %></td>
      <td><%= number_to_currency(listing.price) %></td>
      <td><%= listing.condition %></td>
      <td><%= listing.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>


