<h1>My Favorites</h1>
<% current_user.favorite_products.each do |product| %>
  <div class="favorite-item">
    <%= link_to product.title, product %>
    <%= button_to 'Remove', favorite_path(product), method: :delete %>
  </div>
<% end %>