<h1>Messages</h1>
<%= link_to 'New Conversation', new_conversation_path %>
<% @conversations.each do |conversation| %>
  <%= link_to conversation_path(conversation) do %>
    <p>Conversation with <%= conversation.recipient(current_user).email %></p>
  <% end %>
  <%= link_to 'Delete', conversation_path(conversation), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>