<h1>Messages</h1>
<% @conversations.each do |conversation| %>
  <div class="conversation-list-item">
    <%= link_to 'Delete', conversation_path(conversation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-conversation-button' %>
    <%= link_to conversation_path(conversation) do %>
      <div class="conversation-header">
        Conversation with <%= conversation.other_party(current_user).username %>
      </div>
      <div class="latest-message">
        <% if conversation.messages.any? %>
          <%= conversation.messages.order(created_at: :desc).first.body.truncate(80) %>
        <% else %>
          <span class="no-messages">No messages yet.</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
