<div class="chat-container">
  <div class="chat-sidebar">
    <% current_user.conversations.each do |conv| %>
      <%= link_to conversation_path(conv), class: 'chat-sidebar-item' do %>
        <!-- sidebar content -->
      <% end %>
    <% end %>
  </div>

  <div class="chat-main">
    <% if @conversation %>
      <div class="chat-messages">
        <% @conversation.messages.order(created_at: :asc).each do |msg| %>
          <!-- message display code -->
        <% end %>
        <div id="chat-messages-end"></div>
      </div>

      <%= render 'messages/form', message: @message %>
    <% else %>
      <div id="message_errors"></div>
      <p>Conversation not found or you do not have permission to view it.</p>
    <% end %>
  </div>
</div>

<script>
    document.getElementById('chat-messages-end')?.scrollIntoView();
</script>

