<!-- Marketplace Page View -->
<h1><%= @greeting %></h1>
<p>Welcome to the marketplace homepage!</p>


<!-- Sign out link to redirect the user back to the login screen (sessions) -->
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>