.listings-page-title {
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.listings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.listing {
    border: 1px solid #ddd;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
}

.listing a {
    font-size: 18px;
    color: #293441;
    text-decoration: none;
}

.listing p {
    color: #3b4777;
}

.product-delete-button,
.product-edit-button,
.promote-button,
.unpromote-button {
    background-color: #ce3b37;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;
}

.product-delete-button:hover {
    background-color: #cc4b47;
}

.product-edit-button:hover,
.promote-button:hover,
.unpromote-button:hover {
    background-color: #71a68b;
}