/*
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #858ea1;
}

/* forgot your password link */
.field a {
    float: right;
    margin-top: -50px;
    font-size: 15px;
}

.horizontal-nav li {
    margin: 0 10px;
}

#nav-search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-search-field {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    line-height: 1.5;
}

.nav-search-button {
    padding: 5px 15px;
    background-color: #3b4777;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
}

/* navigation header */
header {
    background-color: #f8f8f8;
    color: #fff;
    padding: 5px 0;
}


nav ul.horizontal-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul.horizontal-nav li {
    margin: 0;
    padding: 0;
}

nav ul.horizontal-nav li a {
    text-decoration: none;
    color: #293441;
}

.nav-search-button:hover {
    background-color: #384b64;
}

/* cart_icon.png */
.cart-nav-icon {
    height: 30px;
    width: 37px;
}

/* profile_icon.png */
.profile-nav-icon {
    height: 30px;
    width: 32px;
}

/* favorites_icon.png */
.favorite-nav-icon {
    height: 36px;
    width: 40px;
}

/* message_icon.png */
.message-nav-icon {
    height: 36px;
    width: 40px;
}

.cart-nav-icon,
.favorite-nav-icon,
.profile-nav-icon,
.message-nav-icon {
    display: block;
    margin: 0 auto;
    position: relative;
}

/* navigation icon labels */
.nav-label {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cart-nav-icon:hover + .nav-label,
.favorite-nav-icon:hover + .nav-label,
.profile-nav-icon:hover + .nav-label {
    opacity: 1;
    visibility: visible;
}


/* flash message container */
.flash {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

/* notice (success) flash message */
.flash.notice {
    background-color: #5cb85c;
    color: #ffffff;
}

/* alert (error) flash message */
.flash.alert {
    background-color: #cc4b47;
    color: #ffffff;
}

