.cart-page h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.cart-page .cart-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-page .cart-item-title {
    color: #274c85;
    text-decoration: none;
}

.cart-page .cart-item-title:hover {
    text-decoration: underline;
}

.cart-page .cart-item p {
    font-size: 16px;
    margin: 0;
}

.cart-page .cart-item p:first-child {
    font-weight: bold;
}

.cart-page .cart-item button {
    background-color: #293441;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-page .cart-item button:hover {
    background-color: #303b48;
}

.cart-page .btn-primary {
    background-color: #3b4777;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cart-page .btn-primary:hover {
    background-color: #2a3457;
}

.cart-page .remove-button {
    background-color: #cc4b47;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.cart-page .remove-button:hover {
    background-color: #ff0000;
}

