body {
    background-color: #8093be;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;
}

.homepage-content header {
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.horizontal-nav {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.homepage-content .horizontal-nav li a {
    text-decoration: underline;
    color: #505050;
    font-size: 14px;
    cursor: pointer;
}

.homepage-content .horizontal-nav li a {
    text-decoration: none;
    color: #333131;
    font-size: 14px;
    cursor: pointer;
}

.homepage-content .hero {
    padding: 40px 0;
    background: linear-gradient(135deg, #627bb7 40%, #9299b4 100%);
    color: #e3e8f1;
    text-align: center;
}

.homepage-content .homepage-logo {
    max-width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.homepage-content main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.homepage-content .top-sellers, .featured-products {
    background: #ffffff;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
    flex-basis: 48%;
    max-width: 40%;
    min-width: 200px;
    box-sizing: border-box;
    height: 300px;
    overflow-y: auto;
}

.homepage-content .top-sellers h2, .featured-products h2 {
    color: #363636;
    margin-bottom: 20px;
}

.homepage-content .seller, .product {
    background: #d4daea;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.homepage-content footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}


@media (max-width: 1024px) {
    .top-sellers, .featured-products {
        flex-basis: 100%;
        max-width: 100%;
        margin: 20px 0;
    }
}

.homepage-content a {
    text-decoration: none;
    font-weight: bold;
    color: #363636;
    cursor: pointer;
}

.homepage-content a:hover, a:focus {
    text-decoration: none;
    color: #3b4777;
}

