/* orders.css */

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: 0 auto; /* Center the container */
    gap: 20px; /* Space between columns */
}

.left-column,
.right-column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #dadae0;
}

@media (max-width: 780px) {
    .left-column,
    .right-column {
        flex-basis: 100%;
    }
}

h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input[type="text"],
.field input[type="number"],
.field input[type="password"],
.field input[type="email"],
.field input[type="tel"],
.field textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3b4777;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #57667a;
}
