.product-detail-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr; /* Adjusted the column ratio */
    grid-gap: 20px;
    font-family: Arial, sans-serif;
    grid-template-areas:
        "header header"
        "image interaction"
        "description price"
        "description review"
        "reviews reviews";
}

.product-detail-header {
    grid-area: header;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.product-detail-image {
    grid-area: image;
    border: 1px solid #ccc;
    padding: 10px;
}

.product-detail-interaction {
    grid-area: interaction;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: start;
    padding: 10px;
}

.product-detail-price {
    grid-area: price;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 104px;
    margin-bottom: 10px;
    align-items: center;
    background-color: #dadae0;
    width: 50%;
    height: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.purchase-button {
    display: block;
    margin-left: 160px;
    width: auto;
    font-size: 16px;
}

.product-detail-description {
    grid-area: description;
    padding: 10px;
}

.product-detail-reviews {
    grid-area: reviews;
    margin-top: -45px;
}

.button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    border-radius: 4px;
}


.review-form {
    grid-area: review;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}


.review-form label {
    display: block;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
}

.review-form input[type="number"],
.review-form textarea {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 30%;
    height: 10%;
}

.review-form textarea {
    height: 70px;
    width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-form h3 {
    text-align: center;
    width: 91%;
}


.review-form input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 8px 16px;
    width: auto;
    font-size: 16px;
}

@media (max-width: 768px) {
    .product-detail-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "image"
            "interaction"
            "price"
            "description"
            "reviews";
    }

    .product-detail-interaction {
        justify-content: center;
    }

    .button {
        display: inline-flex;
    }

    .review-form {
        align-items: center;
    }
}

