.user-profile .user-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dadae0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.user-profile .user-image .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.user-profile .user-details h1 {
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}

.user-profile .user-details p {
    color: #555;
    margin: 5px 0;
    text-align: center;
}

.user-profile .user-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.user-profile .button {
    background-color: #57667a;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-profile .button:hover {
    background-color: #57667a;
}

.user-profile .user-feedback,
.user-profile .user-tracking {
    margin-top: 20px;
}

.user-profile .feedback-item,
.user-profile .order-item {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile .feedback-item p,
.user-profile .order-item p {
    margin: 5px 0;
    line-height: 1.4;
    flex: 1;
}

.user-profile .user-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.user-profile .user-actions .button {
    padding: 10px 20px;
    text-align: center;
    border: none;
    color: white;
    background-color: #293441;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-profile .user-actions .button:hover {
    background-color: #3b4777;
}

.user-profile .message-seller-button {
    background-color: #384b64;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.user-profile .message-seller-button:hover {
    background-color: #6b7a94;
}

/* Recent Orders Section */
.user-profile .user-tracking {
    margin-top: 20px;
    overflow-y: auto;
    max-height: 300px;
}

.user-profile .order-item .button.view-tracking {
    margin-left: 10px;
}

