/* User Profile */
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dadae0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.user-profile .user-image .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.user-profile .user-details h1 {
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}

.user-profile .user-details p {
    color: #555;
    margin: 5px 0;
    text-align: center;
}

/* User Actions */
.user-profile .user-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.profile-page .user-profile .user-actions .unique-button,
.profile-page .user-profile .user-actions .message-seller-button,
.profile-page .user-profile .user-actions .listings-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #384b64;
    color: white;
    text-decoration: none;
}

.profile-page .user-profile .user-actions .unique-button:hover,
.profile-page .user-profile .user-actions .message-seller-button:hover,
.profile-page .user-profile .user-actions .listings-button:hover {
    background-color: #6b7a94;
}

.user-profile .message-seller-button,
.user-profile .listings-button {
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
    background-color: #384b64;
}

.user-profile .message-seller-button:hover,
.user-profile .listings-button:hover {
    background-color: #6b7a94;
}

/* Feedback and Tracking */
.user-profile .user-feedback,
.user-profile .user-tracking {
    margin-top: 20px;
}

.user-profile .feedback-item,
.user-profile .order-item {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile .feedback-item p,
.user-profile .order-item p {
    margin: 5px 0;
    line-height: 1.4;
    flex: 1;
}

.user-profile .user-actions .button.view-tracking {
    margin-left: 10px;
}

