<h1>Categories</h1>
<div class="categories-list">
  <% @categories.each do |category| %>
    <div class="category">
      <%= link_to category.name, category_path(category), class: "category-link" %>
    </div>
  <% end %>
</div>