<h1>Search Results</h1>

<% if @products.any? %>
  <% @products.each do |product| %>
    <div>
      <h3><%= product.title %></h3>
      <p><%= product.description %></p>
    </div>
  <% end %>
<% else %>
  <p>No products found.</p>
<% end %>